*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
.*.swp
.*.swo

#Android
*.d
*.apk
*.ap_
*.class
local.properties
Vulnerapp/bin/
Vulnerapp/gen/
*.dex

#Latex paper
paper/*.log
paper/*.make
paper/*.aux
paper/*.temp
paper/*.fls
paper/*.pdf
paper/*.png
paper/*.bbl
paper/*.blg
paper/*.out

#eclipse
*.classpath

#leftover from symlink?
Vulnerapp/src/org
